
<h2>Macam Gejala Pada <%= @namapenyakit %></h2>

<%= form_tag("gejalaproses",:method => "post", :id => "formpesan" )  %>
<table class="table table-bordered"><tr>
<% @gejala.each do | gdata | %>
<tr><td>
 <input name="cekgejala[]" type="checkbox" value="<%= gdata._id %>" <%=  (@ar.include? gdata._id)? "checked" : "" %>> </td><td><%= gdata.nama %> </td>
 </tr>

<% end %>
</table>
    <input type='submit' class="btn btn-primary" value='Kirim'>
</form>