<h1>Listing penyakits</h1>

<table>
  <thead>
    <tr>
      <th>Nama</th>
      <th>Deskripsi</th>
      <th>Solusi</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @penyakits.each do |penyakit| %>
      <tr>
        <td><%= penyakit.nama %></td>
        <td><%= penyakit.deskripsi %></td>
        <td><%= penyakit.solusi %></td>
        <td><%= link_to 'Show', penyakit %></td>
        <td><%= link_to 'Edit', edit_penyakit_path(penyakit) %></td>
        <td><%= link_to 'Destroy', penyakit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Penyakit', new_penyakit_path %>
