<p id="notice"><%= notice %></p>
<h2><%= @penyakit.nama %></h2>
<table class="table table-bordered">
<tr>
  <td> <strong>Deskripsi:</strong></td>
  <td>  <%= @penyakit.deskripsi %>
</td>
</tr><tr>
  <td> <strong>Solusi:</strong></td>
  <td>    <%= @penyakit.solusi %>

</tr><tr>
  <td> <strong>Gejala:</strong></td>
  <td>   <ul>
  <% @penyakit.gejalas.each do | data | %>
   <li><%= data.nama %></li>
  <% end %>
</ul>

</tr>
</table>
  
<%= link_to 'Edit Gejala', gejala_penyakit_path(@penyakit) %> 

</p>




<%= link_to 'Edit', edit_penyakit_path(@penyakit) %> |
<a href="/penyakits"> Back</a>
