<%= form_for(@gejala) do |f| %>
  <% if @gejala.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gejala.errors.count, "error") %> prohibited this gejala from being saved:</h2>

      <ul>
      <% @gejala.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nama %><br>
    <%= f.text_field :nama, :required => "true" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
